:root{
    --primary-color:#FFFFFF;
    --primary-black-color:#000000;
    --grey-color: #F3F3F6;
    --dark-grey: #A1A1AA;
    --btn-padding:17px 21px;
    
}
@font-face {
    font-family: geo;
    src: url(./Assets/georgia.ttf);
}
@font-face {
    font-family: noyh;
    src: url(./Assets/noyh-geometric-slim-semilight.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
}
main{
    height: 100%;
    width: 90%;
    margin: 0 auto;
    background-color: var(--primary-color);
    font-family: noyh;

}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.links{
    display: flex;
   
    text-decoration: none;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}
.links img{
    height: 3.2rem;
    width: 6.2rem;
    margin-bottom: .5rem;
}
.links a{
    text-decoration: none;
    font-size: 1rem;
    font-family: noyh;
    font-weight: 600;
    color: #1c1c1c;
    letter-spacing: 1px;
   
}
.link i{
    color: #070707;
}
.signIn{
    display: flex;
    gap: 1rem;
    
    
}
.signIn button{
    padding: var(--btn-padding);
    font-size: .85rem;
    font-weight: bold;
    border: none;
    background-color: var(--primary-color);
}
.signIn button:nth-child(2){
    background-color: var(--primary-black-color);
    color: var(--primary-color);
    border-radius: 25px;
}

.Home-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    margin-top: 2.7rem;
    
}
.Home-page h1{
    font-family: geo;
    font-size: 4.2rem;
    line-height: 1.2;
    font-weight: 100;
    max-width: 45%;
    text-align: center;
}
.Home-page p{
    font-size: 1.65rem;
    max-width: 45%;
    text-align: center;
}
.Home-page .search-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: fit-content;
    background-color: var(--grey-color);
    padding: var(--btn-padding);
    border-radius: 25px;
    gap: 25rem;

}
.Home-page .search-bar input{
    border: none;
    background-color: var(--grey-color);
    font-size: .9rem;
}
.Home-page .search-bar input::placeholder{
    color: var(--dark-grey);
   
    
}
.Home-page .search-bar .side-btn{
    display: flex;
    gap: .7rem;
}
.shots-options{
    border: none;
    font-size: 1rem;
    font-weight: 600;
    color: var(--primary-black-color);
}
.shots-options button{
    border: none;
    font-size: 1.05rem;
    font-weight: 600;
    color: var(--primary-black-color);
}
.search-icon i{
    border: none;
    font-size: 1.05rem;
    color:var(--primary-color);
    background-color: #EC5E95;
    padding: 12px 12px;
    border-radius: 50%;
}
.products{
    display: flex;
    gap: 1.2rem;
}
.products button{
    background-color: var(--grey-color);
    padding: 12px 12px;
    border: none;
    border-radius: 25px;
    font-size: .87rem;
    
}

.products button:hover{
    color: var(--dark-grey);    
}

.works{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.works button{
    padding: 9px 13px;
    border-radius: 10px;
    font-size: .9rem;
    border: 1px solid var(--primary-black-color);
    background-color: var(--primary-color);
}
.works #btn{
    border-radius: 25px;
}

.work-names{
    display: flex;
    gap: .7rem;
}

.work-names p{
    padding: 12px 12px;
    border: none;
    border-radius: 25px;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 0.2px;
}
.work-names p:nth-child(1){
    background-color: var(--grey-color);
}

.cards{
    display: flex;
    width: 100%;
}
.card-container{
    display: flex;
    flex-direction: column;
    width: 25%;
    
}
.card-image{
position: relative;
    overflow: hidden;
    border-radius: 20px;
    
}
.card-container .card-image img{
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 20px;
    
}
.card-container .card-detail{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.website-info , .views{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    
}
.website-info img{
    height: 25px;
    width: 25px;
}
.website-info p{
    font-size: 1.1rem;
    columns: var(--primary-black-color);
    font-weight: 600;
}
.website-info .tag{
    font-size: 1rem;
    color: var(--primary-color);
    background-color: var(--dark-grey);
    padding: 1px 2px;
}
.views i{
    color: var(--dark-grey);
}
.views i:nth-child(1):hover{
    color: #DB2777;
}

.dribble-card-animation{
    position: absolute;
    background: linear-gradient(transparent , black);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.75rem;
    transform: translateY(100%);
    transition: transform 0.6s ease,
    box-shadow 0.35s ease;
    
    
}
.dribble-card-animation p{
    color: var(--primary-color);
    font-weight: 600;
    font-size: 1.2rem;
}
.dribble-card-animation .bookmark{
   display: flex;
   gap: 1rem;
}
.dribble-card-animation .bookmark button{
   border: none;
   padding: 14px 15px;
   background-color: var(--primary-color);
   font-size: 1.1rem;
   border-radius: 50%;
   text-align: center;
}

.card-image:hover .dribble-card-animation{
    /* position: absolute; */
    bottom: 0;
    overflow: hidden;
    transform: translateY(0);
    
    box-shadow:
    0 12px 30px rgba(0,0,0,0.15);
    
}