@font-face {
  font-family: genesa;
  src: url(./Assets/genesa-bold.ttf);
}
@font-face {
  font-family: rotunda;
  src: url(./Assets/Fontspring-DEMO-4a-rotunda-regular.otf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  font-family: genesa;
  background-color: #fcf4ec;
  overflow-y: hidden;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: -20px;
}
nav img {
  height: 120px;
  width: 170px;
}
.links {
  display: flex;
  gap: 2.5rem;
}
.links a {
  text-decoration: none;
  color: #1e1e1d;
  font-size: 1.2rem;
}
.search-bar {
  width: fit-content;
  height: 45px;
  border: 2px solid #9c9c99;
  border-radius: 30px;
  display: flex;
  align-items: center;
  gap: 0.8rem;
  padding: 0 15px;
}

.search-bar input {
  border: none;
  outline: none;
  flex: 1;
  background-color: #fcf4ec;
}
.search-bar input::placeholder {
  color: #9c9c99;
  font-size: 0.8rem;
  font-family: rotunda;
}

.divider {
  width: 2px;
  height: 22px;
  background-color: #9c9c99;
}

.search-bar i {
  font-size: 1.2rem;
  cursor: pointer;
}
.search-bar .ri-search-line {
  color: #f6b43e;
}

main {
  display: flex;

  width: 80%;
  height: 98.5%;
  margin: auto;
}
.left-section {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  position: relative;
}
.tag {
  display: flex;
  width: fit-content;
  background-color: #d1e6c682;
  color: #5f7a51;
  border: 1px solid #5f7a51;
  border-radius: 20px;
  padding: 0.35rem 0.8rem;
  gap: 0.3rem;
  font-size: 0.8rem;
}
.tag span {
  margin-top: 3px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: genesa;
}
.tag i {
  color: #61912b;
  font-size: 0.87rem;
}
h1 {
  font-size: 4.7rem;
  text-transform: uppercase;
  background-image: url(./Images/black-text.png);
  background-size: cover;
  background-position: center;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
h1 span {
  background-image: url(./Images/grren-text.png);
  -webkit-background-clip: text;
  background-clip: text;
}
#marker img {
  width: 16rem;
  position: absolute;
  top: 23%;
}
.left-section p {
  font-family: rotunda;
  color: #9c9c99;
  font-size: 0.9rem;
  line-height: 1.5;
}
.in-shopping-bag {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2.5rem;
}
.in-shopping-bag button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: #101010;
  color: #fcf4ec;
  text-transform: uppercase;
  font-family: genesa;
  letter-spacing: 1px;
  font-size: 1.2rem;
  border: none;
  border-radius: 20px;
  padding: 0.4rem 1rem;
}
.in-shopping-bag button img {
  height: 2.1rem;
  width: 2rem;
  background-color: #f8c566;
  border: none;
  border-radius: 50%;
}
.in-shopping-bag .quantity {
  background-color: #fffbf7;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
  display: flex;
}
.in-shopping-bag .quantity p {
  font-family: genesa;
  font-size: 1.6rem;
}
.in-shopping-bag .quantity #count {
  color: #cd3038;
  font-size: 1rem;
}
.in-shopping-bag .quantity #plus {
  color: #2b5e2c;
}
.in-shopping-bag .quantity #minus {
  color: #444041;
}
.in-shopping-bag .quantity .divider {
  background-color: #dbdbd897;
}

.product-info {
  display: flex;
  gap: 1.5rem;
}
.info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
}
.product-info .info img {
  height: 2.17rem;
  width: 2.3rem;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 50%;
}
#icon-1 img {
  border: 1px solid #adba9e;
}
#icon-2 img {
  border: 1px solid #f6b43e;
}
#icon-3 img {
  border: 1px solid #cd3038;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.details h5 {
  text-transform: uppercase;
  color: #101010;
  font-size: 0.9rem;
}
.details p {
  font-family: rotunda;
  font-size: 0.75rem;
}

.right-section {
  display: flex;
  align-items: flex-start;
  justify-content: start;
}
.container {
  position: relative;
  width: 550px;
  height: 550px;
  background: #f8f5ef;
  overflow: hidden;
}
#decrote-image-1 {
  position: absolute;
  height: 7rem;
  width: 9rem;
  top: 0;
  left: 60%;
}
#decrote-image-2 {
  position: absolute;
  height: 5.3rem;
  width: 8rem;
  top: -4%;
  left: 26%;
}
#decrote-image-3 {
  position: absolute;
  height: 3.9rem;
  width: 5.5rem;
  top: 4%;
  left: -3%;
  transform: rotate(240deg);
}
#decrote-image-4 {
  position: absolute;
  height: 5rem;
  width: 6rem;
  top: 48%;
  left: 3%;
  transform: rotate(180deg);
  z-index: 9;
}
#decrote-image-5 {
  position: absolute;
  height: 3.5rem;
  width: 5.5rem;
  top: 66%;
  left: 66%;
  z-index: 2;
}
#decrote-image-6 {
  position: absolute;
  height: 3.5rem;
  width: 5.5rem;
  top: 66%;
  left: 3%;
  z-index: 2;
  transform: rotate(120deg);
}
#decrote-image-7 {
  position: absolute;
  height: 3.9rem;
  width: 5.5rem;
  top: -5.7%;
  left: 3%;
  transform: rotate(120deg);
}

.bg-circle {
  position: absolute;
  width: 400px;
  height: 320px;

  background: #f0e4d5;
  border-radius: 50%;
  left: 40%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.9;
}

.bg-circle::before {
  content: "";
  position: absolute;
  width: 400px;
  height: 320px;
  background: #dfe1bf;
  border-radius: 50%;
  top: 7px;
  left: -5px;
  transform: rotate(160deg);
}
.dotted-line {
  width: 2px;
  height: 60px;
  margin-left: 2rem;
  background: repeating-linear-gradient(
    to bottom,
    #d8b98d 0px,
    #d8b98d 6px,
    transparent 6px,
    transparent 12px
  );
}

.packet {
  position: absolute;
  width: 498px;
  left: 37%;
  top: 45%;
  transform: translate(-50%, -50%);
  z-index: 5;
}
.flavour {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  justify-content: center;
  margin-top: 10%;
  /* gap: 3.5rem; */
  width: fit-content;
}
.flavour .info {
  gap: 1rem;
}
.flavour img {
  height: 4rem;
  width: 4rem;
  border: none;
  border-radius: 50%;
}
.flavour .details {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}
.flavour .details h4 {
  text-transform: uppercase;
  color: #101010;
}
.flavour .details p {
  font-size: 0.7rem;
  color: #9c9c99;
  width: 150px;
  overflow-wrap: break-word;
}
#flavour-1 img {
  background-color: #1a623a;
}
#flavour-2 img {
  background-color: #d8222f;
  width: 4.2rem;
  text-transform: uppercase;
}
#flavour-3 img {
  background-color: #fbb232;
}

footer {
  width: 80%;
  margin: auto;
  height: 150px;
  background: url(./Images/banner.png);
  border-radius: 30px;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  overflow: hidden;
  position: relative;
  top: -35%;
}

.left-content {
  width: fit-content;
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.left-content h2 {
  color: #fcf4ec;
  font-size: 1.3rem;
  line-height: 1.1;
  font-weight: 800;
  text-transform: uppercase;
}
.line {
  width: 2rem;
  height: 2px;
  background: #f5c542;
  border-radius: 20px;
}

.slider-btns {
  display: flex;
  gap: 1rem;
}

.slider-btns button {
  width: 38px;
  height: 38px;
  border: none;
  border-radius: 50%;
  background: white;
  font-size: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.slider-btns button:hover {
  transform: translateY(-3px);
}

.cards {
  display: flex;
  gap: 1.7rem;
  flex-wrap: wrap;
  /* position:absolute; */
  /* z-index:2; */
}

.card {
  width: fit-content;
  height: 120px;
  background: #f7efe8;
  border-radius: 10px;
  padding: 0.5rem;
  position: relative;
  display: flex;
  align-items: center;

  gap: 0.2rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12);
}

.card img {
  width: 7.5rem;
}

.card-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.card-content h3 {
  font-size: 0.9rem;

  color: #1f1f1f;
}
.stars {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.star-icon {
  color: #f5b301;

  font-size: 0.86rem;
  display: flex;
  gap: 0.28rem;
}
.stars span {
  color: #81817e;
  font-size: 0.7rem;
}

.stars .price {
  font-size: 2.1rem;
  font-weight: 800;

  color: #1f1f1f;
}

.order-btn {
  border: none;
  background: #ea2b35;
  color: white;

  padding: 0.5rem 0.8rem;
  border-radius: 40px;
  font-size: 0.7rem;
  font-weight: 700;
  cursor: pointer;
  transition: 0.3s;
}

.order-btn:hover {
  background: #c81d26;
}

@media (max-width: 1200px) {
  footer {
    flex-direction: column;
    align-items: flex-start;
  }

  .cards {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .card {
    width: 100%;
  }

  .left-content h2 {
    font-size: 30px;
  }
}
